{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block header %}

<header class="gem-c-layout-super-navigation-header">
    <div class="gem-c-layout-super-navigation-header__container govuk-clearfix">
      <div class="govuk-width-container transparent-bottom-border header-top">
        <!-- Logo -->
        <div class="gem-c-layout-super-navigation-header__header-logo">
          <a class="govuk-header__link govuk-header__link--homepage" id="logo" href="/">
            <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
          </a>
        </div>
        <!-- Header right -->
        <div class="header-right">
          <!-- Search -->
          <div class="gem-c-layout-super-navigation-header__search-item">
            <button id="super-search-menu-toggle" class="gem-c-layout-super-navigation-header__search-toggle-button" aria-controls="super-search-menu" aria-expanded="false" aria-label="Show search menu" type="button">
              <span class="govuk-visually-hidden">Search for a trust or school</span>
              <svg class="gem-c-layout-super-navigation-header__search-toggle-button-link-icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
              </svg>
              <span aria-hidden="true" class="gem-c-layout-super-navigation-header__navigation-top-toggle-close-icon">×</span>
            </button>
          </div>
          <!-- Links -->
          <div class="header-links">
            <a class="govuk-link" href="#">Manage projects and cases</a>
          </div>
        </div>
      </div>
    </div>
</header>
<!-- SEARCH PANEL -->
<div id="super-search-menu" class="gem-c-layout-super-navigation-header__navigation-dropdown-menu" hidden>
    <div class="govuk-width-container gem-c-layout-super-navigation-header__search-container gem-c-layout-super-navigation-header__search-items">
        <h3 class="govuk-visually-hidden">Search for a trust or school</h3>
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form class="gem-c-layout-super-navigation-header__search-form" id="search" action="/search/all" method="get" role="search" aria-label="Site-wide">
            <div class="gem-c-search govuk-!-display-none-print gem-c-search--large gem-c-search--on-white govuk-!-margin-bottom-0">
                <label for="search-main" class="govuk-label govuk-label--m gem-c-layout-super-navigation-header__search-label--large-navbar">Search for a trust or school</label>
                <div class="gem-c-search__item-wrapper">
                <input id="search-main" name="keywords" type="search" class="gem-c-search__input govuk-input">
                <div class="gem-c-search__item gem-c-search__submit-wrapper">
                    <button class="gem-c-search__submit gem-c-search__submit--icon-only" type="submit" aria-label="Search">
                    <span class="govuk-visually-hidden">Search</span>
                    <svg class="gem-c-search__icon" width="20" height="20" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                        <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="#ffffff" stroke-width="3"></circle>
                        <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="#ffffff" stroke-width="3"></line>
                    </svg>
                    </button>
                </div>
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>
</div>
<section aria-label="Service information" class="govuk-service-navigation"
data-module="govuk-service-navigation">
    <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
        <span class="govuk-service-navigation__service-name">
            <a href="#" class="govuk-service-navigation__link">
                Find information about schools and trusts
            </a>
        </span>
        </div>
    </div>
</section>
<aside class="app-banner school" style="background-color: #f4f0ff; padding: 15px 0" data-testid="app-school-header">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            
            <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <nav class="govuk-breadcrumbs govuk-!-margin-0" aria-label="Breadcrumb">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item" data-testid="breadcrumb-home-link">
                    <a class="govuk-breadcrumbs__link" href="rebranded-fast">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" data-testid="breadcrumb-trust-name">
                    <a class="govuk-breadcrumbs__link" href="#">
                        Ab Kettleby Primary School
                    </a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" data-testid="breadcrumb-page-name">
                    Overview
                    </li>
                </ol>
                </nav>
            </div>
            </div>

            <h1 class="govuk-heading-xl app-banner--heading govuk-!-margin-top-3 govuk-!-margin-bottom-3" data-testid="school-name-heading">
            Ab Kettleby Primary School
            </h1>
            <p class="govuk-body app-banner--body govuk-!-margin-bottom-0" data-testid="school-type">
            Academy converter
            </p>
            <p class="govuk-caption-m govuk-!-margin-top-2 govuk-!-margin-bottom-0">
            Trust:
            <a data-testid="header-trust-link" class="govuk-link" href="#">
                MOWBRAY EDUCATION TRUST LIMITED
            </a>
            </p>
        </div>
        </div>
    </div>
</aside>
<div class="govuk-service-navigation" data-module="govuk-service-navigation" data-govuk-service-navigation-init="">
    <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
        <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
            <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden="">
            Menu
            </button>
            <ul class="govuk-service-navigation__list" id="navigation">
                <li class="govuk-service-navigation__item govuk-service-navigation__item--active" data-testid="overview-nav">
                <a class="govuk-service-navigation__link govuk-!-font-weight-bold" href="#">
                    <span class="govuk-visually-hidden">Academy </span>
                    <strong class="govuk-service-navigation__active-fallback">
                        Overview
                    </strong>
                </a>
                </li>
                <li class="govuk-service-navigation__item " data-testid="pupils-nav">
                <a class="govuk-service-navigation__link govuk-!-font-weight-bold" href="#">
                    <span class="govuk-visually-hidden">Academy </span>
    Pupils              </a>
                </li>
                <li class="govuk-service-navigation__item " data-testid="contacts-nav">
                <a class="govuk-service-navigation__link govuk-!-font-weight-bold" href="#">
                    <span class="govuk-visually-hidden">Academy </span>
    Contacts              </a>
                </li>
                <li class="govuk-service-navigation__item " data-testid="governance-nav">
                <a class="govuk-service-navigation__link govuk-!-font-weight-bold" href="#">
                    <span class="govuk-visually-hidden">Academy </span>
    Governance              </a>
                </li>
                <li class="govuk-service-navigation__item " data-testid="ofsted-nav">
                <a class="govuk-service-navigation__link govuk-!-font-weight-bold" href="#">
                    <span class="govuk-visually-hidden">Academy </span>
    Ofsted              </a>
                </li>
            </ul>
        </nav>
        </div>
    </div>
</div>
{% endblock %}