{% extends "202601-v01/layouts/main-recast.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName="Change Team leader" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Case ID -->
    <h1 class="govuk-heading-l" name="caseID">
        <span class="govuk-caption-m">Case ID</span>
        2039681
    </h1>

    <!-- Main Heading -->
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Change Team leader
    </h1>

    <!-- Instructional Text -->
    <div class="govuk-hint">
      Find and select the email address of the person you want to assign the case to
    </div>

    <!-- Form -->
    <form method="post" action="/202601-v01/recast-team-leader-edit">
      {{ govukInput({
        id: "team-leader-email",
        name: "teamLeaderEmail",
        value: data['teamLeaderEmail'] or ""
      }) }}

      <div class="govuk-button-group govuk-!-margin-top-6">
        {{ govukButton({
          text: "Continue",
          type: "submit"
        }) }}
        <a href="/202601-v01/recast-project" class="govuk-link">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
