{% extends "202608v2/layouts/main-prepare.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName = "Financial Health Assessment" %}
{% set navActive = "significant-changes" %}
{% set returnTo = "/202608v2/preview-document" + (("?section=" + data.section) if data.section else "") if data.returnTo == "preview" else (data["sig-change-return-to"] if data["sig-change-return-to"] else "/202608v2/st-theresas") %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: returnTo
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukNotificationBanner({
      html: '<p class="govuk-notification-banner__heading">In order to request a financial health assessment, you will need to <a class="govuk-notification-banner__link" href="confirm-project-dates">Enter a new proposed decision date</a>.</p>'
    }) }}

    <span class="govuk-caption-l">St Theresa’s Catholic Primary School</span>
    <h1 class="govuk-heading-l">Financial Health Assessment</h1>
    <p class="govuk-body">This has not yet been requested, as you have not entered a proposed decision date.</p>

    {{ govukInsetText({
      text: "The system will automatically request a Financial Health Assessment to be provided 15 days from the proposed decision date."
    }) }}

    <form method="post" action="{{ returnTo }}">

      {{ govukTextarea({
        name: "financial-health-assessment-summary",
        id: "financial-health-assessment-summary",
        value: data['financial-health-assessment-summary'],
        maxlength: 250,
        label: {
          text: "Can you provide an overview of your commission?",
          classes: "govuk-label--m"
        },
        hint: {
          text: "This is optional. Overview must be 250 characters or less. You might want to include any case complexities that funding delivery need to be aware of and include teams and colleagues that are already involved."
        }
      }) }}

      <input type="hidden" name="financial-health-assessment-complete" value="true">

      {{ govukButton({
        text: "Save and return"
      }) }}

    </form>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">
        Useful information
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <p class="govuk-body-s">
              <a class="govuk-link" target="_blank" rel="noreferrer noopener" href="school-application-form">School application form (opens in a new tab)</a>
            </p>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}
