{% extends "202608v2/layouts/main-prepare.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageName = "Preview project document" %}
{% set navActive = "significant-changes" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back to project list / St Theresa’s Catholic Primary School",
  href: "/202608v2/st-theresas"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">St Theresa’s Catholic Primary School</span>
    <h1 class="govuk-heading-xl">Preview project document</h1>
  </div>
</div>

{# School details #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="app-preview-section-heading">School details</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">School name</dt>
        <dd class="govuk-summary-list__value">St Theresa’s Catholic Primary School</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">URN</dt>
        <dd class="govuk-summary-list__value">101335</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Address</dt>
        <dd class="govuk-summary-list__value">Prince of Wales Road, Sheffield, S2 1EY</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">School type</dt>
        <dd class="govuk-summary-list__value">Voluntary aided school</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Age range</dt>
        <dd class="govuk-summary-list__value">3 to 11</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Capacity</dt>
        <dd class="govuk-summary-list__value">210</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Published admission number (PAN)</dt>
        <dd class="govuk-summary-list__value">30</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> published admission number</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Pre-conversion (PUP)</dt>
        <dd class="govuk-summary-list__value">200</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total pupils on roll</dt>
        <dd class="govuk-summary-list__value">200</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> total pupils on roll</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Diocese</dt>
        <dd class="govuk-summary-list__value">Hallam</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> diocese</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Religious character</dt>
        <dd class="govuk-summary-list__value">Catholic</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Faith school</dt>
        <dd class="govuk-summary-list__value">Yes</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Distance from the trust to the school</dt>
        <dd class="govuk-summary-list__value">12.4 miles</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> distance from the trust to the school</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Parliamentary constituency</dt>
        <dd class="govuk-summary-list__value">Sheffield Heeley</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">MP</dt>
        <dd class="govuk-summary-list__value">Louise Haigh (Labour)</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>
  </div>
</div>

{# Budget #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="app-preview-section-heading">Budget</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">End of current financial year</dt>
        <dd class="govuk-summary-list__value">31 March 2026</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> end of current financial year</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Forecasted revenue carry forward at the end of the current financial year</dt>
        <dd class="govuk-summary-list__value">£85,000</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> forecasted revenue carry forward current year</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Forecasted revenue carry forward at the end of the next financial year</dt>
        <dd class="govuk-summary-list__value">£92,500</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> forecasted revenue carry forward next year</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Capital carry forward at the end of the current financial year</dt>
        <dd class="govuk-summary-list__value">£15,000</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> capital carry forward current year</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Forecasted capital carry forward at the end of the next financial year</dt>
        <dd class="govuk-summary-list__value">£18,200</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> forecasted capital carry forward next year</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Additional information</dt>
        <dd class="govuk-summary-list__value"><span class="empty">Empty</span></dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> budget additional information</span></a>
        </dd>
      </div>
    </dl>
  </div>
</div>

{# Pupil forecasts #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="app-preview-section-heading">Pupil forecasts</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Year</th>
          <th scope="col" class="govuk-table__header">Capacity</th>
          <th scope="col" class="govuk-table__header">Total pupil numbers</th>
          <th scope="col" class="govuk-table__header">Percentage full</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Current</th>
          <td class="govuk-table__cell">210</td>
          <td class="govuk-table__cell">200</td>
          <td class="govuk-table__cell">95.2%</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Projected pupil numbers year 1</th>
          <td class="govuk-table__cell">210</td>
          <td class="govuk-table__cell">205</td>
          <td class="govuk-table__cell">97.6%</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Projected pupil numbers year 2</th>
          <td class="govuk-table__cell">210</td>
          <td class="govuk-table__cell">208</td>
          <td class="govuk-table__cell">99.0%</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Projected pupil numbers year 3</th>
          <td class="govuk-table__cell">210</td>
          <td class="govuk-table__cell">210</td>
          <td class="govuk-table__cell">100.0%</td>
        </tr>
      </tbody>
    </table>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Additional information</dt>
        <dd class="govuk-summary-list__value"><span class="empty">Empty</span></dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> pupil forecasts additional information</span></a>
        </dd>
      </div>
    </dl>
  </div>
</div>

{# Project details #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="app-preview-section-heading">Project details</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">School name</dt>
        <dd class="govuk-summary-list__value">St Theresa’s Catholic Primary School</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">School type</dt>
        <dd class="govuk-summary-list__value">Voluntary aided school</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">URN</dt>
        <dd class="govuk-summary-list__value">101335</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Trust reference number</dt>
        <dd class="govuk-summary-list__value">10059089</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Trust name</dt>
        <dd class="govuk-summary-list__value">Appleby Grammar School</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Type</dt>
        <dd class="govuk-summary-list__value">Testing tiers</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Tier</dt>
        <dd class="govuk-summary-list__value">3</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Proposed decision date</dt>
        <dd class="govuk-summary-list__value">15 September 2026</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> proposed decision date</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Project status</dt>
        <dd class="govuk-summary-list__value">Pre decision</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> project status</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Assigned to</dt>
        <dd class="govuk-summary-list__value">Richard Gibbons</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> assigned to</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Local authority</dt>
        <dd class="govuk-summary-list__value">Sheffield</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Region</dt>
        <dd class="govuk-summary-list__value">Yorkshire and the Humber</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Town</dt>
        <dd class="govuk-summary-list__value">Sheffield</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> town</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">County</dt>
        <dd class="govuk-summary-list__value">South Yorkshire</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> county</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Postcode</dt>
        <dd class="govuk-summary-list__value">S2 1EY</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> postcode</span></a>
        </dd>
      </div>
    </dl>
  </div>
</div>

{# Legal requirements #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="app-preview-section-heading">Legal requirements</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Governing body resolution</dt>
        <dd class="govuk-summary-list__value">Yes</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> governing body resolution</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Consultation</dt>
        <dd class="govuk-summary-list__value">Yes</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/202608v2/consultation">Change<span class="govuk-visually-hidden"> consultation</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Diocesan consent</dt>
        <dd class="govuk-summary-list__value">Yes</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> diocesan consent</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Foundation consent</dt>
        <dd class="govuk-summary-list__value">Not applicable</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> foundation consent</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Public Sector Equality Duty</dt>
        <dd class="govuk-summary-list__value">Yes</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/202608v2/psed">Change<span class="govuk-visually-hidden"> Public Sector Equality Duty</span></a>
        </dd>
      </div>
    </dl>
  </div>
</div>

{# Performance and quality #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="app-preview-section-heading">Performance and quality</h2>
    <h3 class="govuk-heading-m">Educational performance</h3>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Provide details on the school’s performance</dt>
        <dd class="govuk-summary-list__value">
          The school was judged Good at its most recent Ofsted inspection. Outcomes for pupils are in line with national averages, with particular strengths in reading and early years provision.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> school performance details</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">What actions are being taken to improve?</dt>
        <dd class="govuk-summary-list__value">
          The trust is supporting targeted school improvement in mathematics and continuing professional development for middle leaders.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> actions being taken to improve</span></a>
        </dd>
      </div>
    </dl>
  </div>
</div>

{# Rationale #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="app-preview-section-heading">Rationale</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Project rationale</dt>
        <dd class="govuk-summary-list__value">
          The significant change will allow the school to better meet local demand and strengthen provision within the trust.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> project rationale</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Trust rationale</dt>
        <dd class="govuk-summary-list__value">
          Appleby Grammar School trust supports the change as part of its strategic growth and school improvement plan.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> trust rationale</span></a>
        </dd>
      </div>
    </dl>
  </div>
</div>

{# Risks and issues #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="app-preview-section-heading">Risks and issues</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Risks and issues</dt>
        <dd class="govuk-summary-list__value">
          No significant risks identified at this stage. Capacity and staffing plans have been reviewed and are considered sufficient.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> risks and issues</span></a>
        </dd>
      </div>
    </dl>
  </div>
</div>

{# Generate document #}
<div class="govuk-grid-row govuk-!-margin-top-9">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Create your project document</h2>
    <p class="govuk-body">Select to generate and download the project document.</p>
    <button type="button" class="govuk-button" data-module="govuk-button">
      Generate document
    </button>
  </div>
</div>

{% endblock %}
