{% extends "202608v2/layouts/main-prepare.html" %}

{% set pageName = "St Theresa’s Catholic Primary School" %}
{% set navActive = "significant-changes" %}

{% block content %}

<div class="govuk-width-container">
    <a class="govuk-back-link" href="significant-changes">Back</a>

    <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <span class="govuk-caption-xl" data-cy=".govuk-caption-xl">URN: 101335</span>
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-2" data-cy="select-heading">
                    St Theresa’s Catholic Primary School
                </h1>
            </div>
            <div class="govuk-grid-column-full">
                <p class="govuk-body govuk-!-margin-bottom-1">
                    Trust: Appleby Grammar School (10059089)
                </p>
                <p class="govuk-body govuk-!-margin-bottom-1">
                    Tier: 3
                </p>
                <p class="govuk-body govuk-!-margin-bottom-1">
                    Type: Testing tiers
                </p>
                <p class="govuk-body govuk-!-margin-bottom-5">
                    Project owner:
                    <span data-id="assigned-user">Richard Gibbons</span>
                    <a class="govuk-link govuk-!-padding-left-50" href="#">Change</a>
                </p>
                <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-5">
                    <strong class="govuk-tag govuk-tag--yellow" id="project-status-101335">Pre decision</strong>
                </p>
            </div>

            <div class="govuk-grid-column-full">
                <nav class="moj-sub-navigation" aria-label="Sub navigation">
                    <ul class="moj-sub-navigation__list govuk-!-margin-top-6">
                        <li class="moj-sub-navigation__item">
                            <a class="moj-sub-navigation__link" aria-current="page" href="#">
                                Project details
                            </a>
                        </li>
                        <li class="moj-sub-navigation__item">
                            <a class="moj-sub-navigation__link" href="#">
                                School application form
                            </a>
                        </li>
                        <li class="moj-sub-navigation__item" data-cy="record_decision_menu">
                            <a class="moj-sub-navigation__link" href="#">
                                Decision
                            </a>
                        </li>
                        <li class="moj-sub-navigation__item">
                            <a class="moj-sub-navigation__link" href="#">
                                Project notes
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <nav class="govuk-!-margin-bottom-6" aria-label="Jump to section">
                    <h2 class="govuk-heading-s govuk-!-margin-bottom-3">Jump to section</h2>
                    <ul class="govuk-list">
                        <li class="govuk-!-margin-bottom-2"><a class="govuk-link" href="#add-dfe-information">Individual information</a></li>
                        <li class="govuk-!-margin-bottom-2"><a class="govuk-link" href="#add-school-information">School information</a></li>
                        <li class="govuk-!-margin-bottom-2"><a class="govuk-link" href="#change-type-and-recommendations">Change type and recommendations</a></li>
                        <li class="govuk-!-margin-bottom-2"><a class="govuk-link" href="#screening-questions">Mandatory legal requirements</a></li>
                        <li class="govuk-!-margin-bottom-2"><a class="govuk-link" href="#growth-applications">GROWTH applications</a></li>
                    </ul>
                </nav>
            </div>

            <div class="govuk-grid-column-three-quarters">

                <section id="add-dfe-information" class="govuk-!-margin-bottom-8">
                    <h2 class="app-task-list__section">Individual information</h2>
                    <div class="app-task-list">
                        <ul class="app-task-list__items govuk-!-padding-left-0">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="assign-colleagues-status" href="#">Assign colleagues</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="assign-colleagues-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="confirm-project-dates-status" href="#">Confirm project dates</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="confirm-project-dates-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="retrospective-application-status" href="#">Retrospective application</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="retrospective-application-status">Not started</strong>
                            </li>
                        </ul>
                    </div>
                </section>

                <section id="add-school-information" class="govuk-!-margin-bottom-8">
                    <h2 class="app-task-list__section">School information</h2>
                    <div class="app-task-list">
                        <ul class="app-task-list__items govuk-!-padding-left-0">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="academy-information-status" href="#">Academy information</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="academy-information-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="trust-information-status" href="#">Trust information</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="trust-information-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="local-authority-information-status" href="#">Local authority information</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="local-authority-information-status">Not started</strong>
                            </li>
                        </ul>
                    </div>
                </section>

                <section id="change-type-and-recommendations" class="govuk-!-margin-bottom-8">
                    <h2 class="app-task-list__section">Change type and recommendations</h2>
                    <div class="app-task-list">
                        <ul class="app-task-list__items govuk-!-padding-left-0">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="select-change-type-status" href="#">Select change type</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="select-change-type-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="admissions-variation-status" href="#">Admissions variation</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="admissions-variation-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="recommendations-status" href="#">Recommendations</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="recommendations-status">Not started</strong>
                            </li>
                        </ul>
                    </div>
                </section>

                <section id="screening-questions" class="govuk-!-margin-bottom-8">
                    <h2 class="app-task-list__section">Mandatory legal requirements</h2>
                    <div class="app-task-list">
                        <ul class="app-task-list__items govuk-!-padding-left-0">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="consultation-status" href="consultation">Consultation</a>
                                </span>
                                {% if data['consultation-complete'] == 'true' %}
                                <strong class="govuk-tag app-task-list__tag app-task-list__tag--completed" id="consultation-status">Completed</strong>
                                {% else %}
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="consultation-status">Not started</strong>
                                {% endif %}
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="objections-status" href="#">Objections</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="objections-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="ofsted-inspection-status" href="#">Ofsted inspection</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="ofsted-inspection-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="psed-status" href="psed">Public Sector Equality Duty (PSED)</a>
                                </span>
                                {% if data['psed-complete'] == 'true' %}
                                <strong class="govuk-tag app-task-list__tag app-task-list__tag--completed" id="psed-status">Completed</strong>
                                {% else %}
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="psed-status">Not started</strong>
                                {% endif %}
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="equalities-impact-assessment-status" href="#">Equalities impact assessment</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="equalities-impact-assessment-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="stakeholder-engagement-status" href="#">Stakeholder engagement</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="stakeholder-engagement-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="religious-bodies-status" href="#">Religious bodies</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="religious-bodies-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="funding-status" href="#">Funding</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="funding-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="land-transaction-status" href="#">Land transaction</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="land-transaction-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="planning-permission-status" href="#">Planning permission</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="planning-permission-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="sfso-fha-concerns-status" href="#">SFSO FHA concerns</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="sfso-fha-concerns-status">Not started</strong>
                            </li>
                        </ul>
                    </div>
                </section>

                <section id="growth-applications" class="govuk-!-margin-bottom-8">
                    <h2 class="app-task-list__section">GROWTH applications</h2>
                    <p class="govuk-body">
                        Only complete this table in Trust ‘GROWTH’ applications only – otherwise delete. Complete for i.e. physical or capacity increases, changing age range, sixth form, SEN unit, satellite site etc. Delete table for changes that relate to removal of provision e.g. removing a sixth form/reduction of capacity etc.
                    </p>
                    <div class="app-task-list">
                        <ul class="app-task-list__items govuk-!-padding-left-0">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="high-quality-inclusive-education-status" href="#">High quality and inclusive education</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="high-quality-inclusive-education-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="school-improvement-status" href="#">School improvement</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="school-improvement-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="workforce-status" href="#">Workforce</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="workforce-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="finance-and-operations-status" href="#">Finance and operations</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="finance-and-operations-status">Not started</strong>
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="governance-and-leadership-status" href="#">Governance and leadership</a>
                                </span>
                                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="governance-and-leadership-status">Not started</strong>
                            </li>
                        </ul>
                    </div>
                </section>

            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p class="govuk-body">
                    <a class="govuk-link" href="#main-content">↑ Back to top</a>
                </p>
            </div>
            <div class="govuk-grid-column-three-quarters">
                <a href="/202608v2/preview-document" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Preview document
                </a>
            </div>
        </div>
    </main>
</div>

{% endblock %}
