{% extends "202609v3/layouts/main-prepare.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageName = "Preview" %}
{% set navActive = "significant-changes" %}

{% macro empty() %}<span class="empty">Empty</span>{% endmacro %}

{% macro value(text) -%}
  {%- if text -%}{{ text }}{%- else -%}{{ empty() }}{%- endif -%}
{%- endmacro %}

{% macro yesNo(text) -%}
  {%- if text == "yes" -%}Yes
  {%- elseif text == "no" -%}No
  {%- elseif text == "not-applicable" -%}Not applicable
  {%- elseif text -%}{{ text }}
  {%- else -%}{{ empty() }}
  {%- endif -%}
{%- endmacro %}

{% macro landTransactionRequired(text) -%}
  {%- if text == "yes" -%}Yes
  {%- elseif text == "not-applicable" -%}Not applicable
  {%- elseif text == "no-further-information" -%}No
  {%- elseif text == "no-landowner-to-submit" -%}No – landowner to submit land transaction application
  {%- elseif text -%}{{ text }}
  {%- else -%}{{ empty() }}
  {%- endif -%}
{%- endmacro %}

{% macro landTransactionTeamConsented(text) -%}
  {%- if text == "not-applicable" -%}Not applicable
  {%- elseif text == "yes" -%}Yes
  {%- elseif text == "awaiting-approval" -%}Awaiting approval from Land Transaction Team
  {%- elseif text == "no" -%}No
  {%- elseif text -%}{{ text }}
  {%- else -%}{{ empty() }}
  {%- endif -%}
{%- endmacro %}

{% macro planningPermissionSecured(text) -%}
  {%- if text == "yes" -%}Yes
  {%- elseif text == "not-applicable" -%}Not applicable
  {%- elseif text == "no-awaiting-approval" -%}No - awaiting planning permission
  {%- elseif text == "no" -%}No
  {%- elseif text -%}{{ text }}
  {%- else -%}{{ empty() }}
  {%- endif -%}
{%- endmacro %}

{% macro psedOutcome(text) -%}
  {%- if text == "unlikely" -%}Unlikely
  {%- elseif text == "some-impact" -%}Some impact
  {%- elseif text == "likely" -%}Likely
  {%- elseif text -%}{{ text }}
  {%- else -%}{{ empty() }}
  {%- endif -%}
{%- endmacro %}

{% macro consultationCarriedOut(text) -%}
  {%- if text == "yes" -%}Yes
  {%- elseif text == "no" -%}No - evidence/rationale provided by the trust confirms satisfactory consultation carried out
  {%- elseif text == "not-applicable" -%}No
  {%- elseif text -%}{{ text }}
  {%- else -%}{{ empty() }}
  {%- endif -%}
{%- endmacro %}

{% macro stakeholderObjectionsRaised(text) -%}
  {%- if text == "yes" -%}Yes - trust has confirmed they have addressed all objections
  {%- elseif text == "no" -%}Yes - no further information provided
  {%- elseif text == "not-applicable" -%}No
  {%- elseif text -%}{{ text }}
  {%- else -%}{{ empty() }}
  {%- endif -%}
{%- endmacro %}

{% macro laObjectionsRaised(text) -%}
  {%- if text == "yes" -%}Yes - however evidence confirms objections have been addressed
  {%- elseif text == "no" -%}Yes - no further information provided
  {%- elseif text == "not-applicable" -%}No
  {%- elseif text -%}{{ text }}
  {%- else -%}{{ empty() }}
  {%- endif -%}
{%- endmacro %}

{% macro religiousBodiesObjectionsRaised(text) -%}
  {%- if text == "not-applicable" -%}Not applicable
  {%- elseif text == "no" -%}No
  {%- elseif text == "yes" -%}Yes - evidence confirms objections addressed and consent obtained
  {%- elseif text == "yes-no-further-info" -%}Yes - no further information provided
  {%- elseif text -%}{{ text }}
  {%- else -%}{{ empty() }}
  {%- endif -%}
{%- endmacro %}

{% macro dateValue(prefix) -%}
  {%- set d = data[prefix + "-day"] -%}
  {%- set m = data[prefix + "-month"] -%}
  {%- set y = data[prefix + "-year"] -%}
  {%- if d and m and y -%}{{ d }}/{{ m }}/{{ y }}
  {%- else -%}{{ empty() }}
  {%- endif -%}
{%- endmacro %}

{% macro listValue(items) -%}
  {%- if items -%}
    {%- if items is string -%}{{ items }}
    {%- else -%}{{ items | join(", ") }}
    {%- endif -%}
  {%- else -%}{{ empty() }}
  {%- endif -%}
{%- endmacro %}

{% macro row(key, href, hidden, section) %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ key }}</dt>
            <dd class="govuk-summary-list__value">{{ caller() }}</dd>
            <dd class="govuk-summary-list__actions">
              {% if href %}
              {% set page = href | replace("/202609v3/", "") %}
              {% set sectionLookup = {
                "confirm-project-dates": "individual-information",
                "admissions-variation": "admissions-variation",
                "stakeholder-engagement": "consultation",
                "la-objections": "consultation",
                "consultation": "consultation",
                "religious-bodies": "consultation",
                "ofsted-inspection": "mandatory-legal-requirements",
                "psed": "psed",
                "land-transaction": "land-and-planning",
                "planning-permission": "land-and-planning",
                "funding": "financials",
                "financial-health-assessment": "financials",
                "fha-outcomes": "financials",
                "high-quality-inclusive-education": "hqtf",
                "approve": "recommendations"
              } %}
              {% set sectionId = section if section else sectionLookup[page] %}
              {% set changeHref = href + "?returnTo=preview" + (("&section=" + sectionId) if sectionId else "") %}
              <a class="govuk-link" href="{{ changeHref }}">Change<span class="govuk-visually-hidden"> {{ hidden or key }}</span></a>
              {% endif %}
            </dd>
          </div>
{% endmacro %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/202609v3/st-theresas"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">St Theresa’s Catholic Primary School</span>
    <h1 class="govuk-heading-xl">Preview</h1>
  </div>
</div>

<div class="app-jump-layout">
  <nav class="app-jump-layout__nav" aria-label="Jump to section">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-3">Jump to section</h2>
    <ul class="govuk-list">
      <li class="govuk-!-margin-bottom-2"><a class="govuk-link" href="#overview">Overview</a></li>
      <li class="govuk-!-margin-bottom-2"><a class="govuk-link" href="#individual-information">Proposed decision and change dates</a></li>
      <li class="govuk-!-margin-bottom-2"><a class="govuk-link" href="#admissions-variation">Admissions variation</a></li>
      <li class="govuk-!-margin-bottom-2"><a class="govuk-link" href="#consultation">Consultation</a></li>
      <li class="govuk-!-margin-bottom-2"><a class="govuk-link" href="#mandatory-legal-requirements">Performance</a></li>
      <li class="govuk-!-margin-bottom-2"><a class="govuk-link" href="#psed">PSED</a></li>
      <li class="govuk-!-margin-bottom-2"><a class="govuk-link" href="#land-and-planning">Land and planning</a></li>
      <li class="govuk-!-margin-bottom-2"><a class="govuk-link" href="#financials">Financials</a></li>
      <li class="govuk-!-margin-bottom-2"><a class="govuk-link" href="#hqtf">High Quality Trust Framework</a></li>
      <li class="govuk-!-margin-bottom-2"><a class="govuk-link" href="#recommendations">Recommendations</a></li>
    </ul>
  </nav>
  <div class="app-jump-layout__content">

{# Overview #}
{% macro overviewDetail(text) %}{% if text %} {{ text | trim }}{% endif %}{% endmacro %}
<div id="overview" class="govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l">Overview</h2>
  {% if data["proposed-decision-date-day"] or data["proposed-implementation-date-day"] or data["admissions-variation-required"] or data["admissions-variation-teams-supportive"] or data["consultation-carried-out"] or data["stakeholder-engagement-carried-out"] or data["stakeholder-engagement-objections-raised"] or data["stakeholder-engagement-consultation-included-admissions-variation"] or data["la-objections-raised"] or data["religious-bodies-consulted"] or data["religious-bodies-objections-raised"] or data["ofsted-inspection-considered"] or data["ofsted-inspection-leadership-education"] or data["ofsted-inspection-evaluation-standard"] or data["psed-considered"] or data["psed-disproportionate-impact"] or data["land-transaction-required"] or data["land-transaction-team-consented"] or data["planning-permission-required"] or data["funding-considered"] or data["fha-outcomes-recorded"] or data["hqie-supports"] or data["recommendation"] %}
  <ul class="govuk-list govuk-list--bullet">
    {% if data["recommendation"] %}
    <li>
      {% if data["recommendation"] == "Approve" %}
        The recommendation is to approve this application.{{ overviewDetail(data["approve-rationale"]) }}
      {% elseif data["recommendation"] == "Approve with conditions" %}
        The recommendation is to approve this application with conditions.{{ overviewDetail(data["approve-with-conditions-rationale"]) }}
      {% elseif data["recommendation"] == "Defer" %}
        The recommendation is to defer this application.{{ overviewDetail(data["defer-rationale"]) }}
      {% elseif data["recommendation"] == "Withdraw" %}
        The recommendation is to withdraw this application.{{ overviewDetail(data["withdraw-rationale"]) }}
      {% elseif data["recommendation"] == "Decline" %}
        The recommendation is to decline this application.{{ overviewDetail(data["decline-rationale"]) }}
      {% endif %}
    </li>
    {% endif %}

    {% if data["proposed-decision-date-day"] and data["proposed-decision-date-month"] and data["proposed-decision-date-year"] and data["proposed-implementation-date-day"] and data["proposed-implementation-date-month"] and data["proposed-implementation-date-year"] %}
    <li>The proposed decision date is {{ data["proposed-decision-date-day"] }}/{{ data["proposed-decision-date-month"] }}/{{ data["proposed-decision-date-year"] }} and the proposed implementation date is {{ data["proposed-implementation-date-day"] }}/{{ data["proposed-implementation-date-month"] }}/{{ data["proposed-implementation-date-year"] }}.</li>
    {% elseif data["proposed-decision-date-day"] and data["proposed-decision-date-month"] and data["proposed-decision-date-year"] %}
    <li>The proposed decision date is {{ data["proposed-decision-date-day"] }}/{{ data["proposed-decision-date-month"] }}/{{ data["proposed-decision-date-year"] }}.</li>
    {% elseif data["proposed-implementation-date-day"] and data["proposed-implementation-date-month"] and data["proposed-implementation-date-year"] %}
    <li>The proposed implementation date is {{ data["proposed-implementation-date-day"] }}/{{ data["proposed-implementation-date-month"] }}/{{ data["proposed-implementation-date-year"] }}.</li>
    {% endif %}

    {% if data["admissions-variation-required"] or data["admissions-variation-teams-supportive"] %}
    <li>
      {% if data["admissions-variation-teams-supportive"] == "no" %}
        There is a problem with admissions variation. The local authority, Pupil Place Planning Team and Admissions Team are not supportive.{{ overviewDetail(data["admissions-variation-teams-supportive-details"]) }}
      {% elseif data["admissions-variation-required"] == "yes" and data["admissions-variation-teams-supportive"] == "yes" %}
        No problems with admissions variation. An admissions variation is required and the local authority, Pupil Place Planning Team and Admissions Team are supportive.
      {% elseif data["admissions-variation-required"] == "yes" %}
        An admissions variation is required.
      {% elseif data["admissions-variation-required"] == "no" %}
        No problems with admissions variation. An admissions variation is not required.
      {% elseif data["admissions-variation-required"] == "not-applicable" %}
        No problems with admissions variation. An admissions variation is not applicable.
      {% elseif data["admissions-variation-teams-supportive"] == "yes" %}
        No problems with admissions variation. The local authority, Pupil Place Planning Team and Admissions Team are supportive.
      {% endif %}
    </li>
    {% endif %}

    {% if data["consultation-carried-out"] %}
    <li>
      {% if data["consultation-carried-out"] == "yes" %}
        No problems with consultation. A 3 week minimum consultation has been carried out.{{ overviewDetail(data["consultation-summary"]) }}
      {% elseif data["consultation-carried-out"] == "no" %}
        A 3 week minimum consultation has not been carried out, but the trust has provided evidence that a satisfactory consultation took place.{{ overviewDetail(data["consultation-summary"]) }}
      {% else %}
        There is a problem with consultation. A 3 week minimum consultation has not been carried out.{{ overviewDetail(data["consultation-summary"]) }}
      {% endif %}
    </li>
    {% endif %}

    {% if data["stakeholder-engagement-carried-out"] or data["stakeholder-engagement-objections-raised"] or data["stakeholder-engagement-consultation-included-admissions-variation"] %}
    <li>
      {% if data["stakeholder-engagement-carried-out"] == "no" or data["stakeholder-engagement-objections-raised"] == "no" or data["stakeholder-engagement-consultation-included-admissions-variation"] == "no" %}
        There is a problem with stakeholder engagement.
        {% if data["stakeholder-engagement-carried-out"] == "no" %} The trust has not consulted stakeholders about the planned significant change.{{ overviewDetail(data["stakeholder-engagement-carried-out-details"]) }}{% endif %}
        {% if data["stakeholder-engagement-objections-raised"] == "no" %} Objections were raised and no further information has been provided.{% endif %}
        {% if data["stakeholder-engagement-consultation-included-admissions-variation"] == "no" %} Relevant stakeholders have not been notified of the admissions changes.{{ overviewDetail(data["stakeholder-engagement-consultation-included-admissions-variation-details"]) }}{% endif %}
      {% elseif data["stakeholder-engagement-objections-raised"] == "yes" %}
        Stakeholders raised objections and the trust has confirmed they have been addressed.
      {% else %}
        No problems with stakeholder engagement.
        {% if data["stakeholder-engagement-carried-out"] == "yes" %} The trust has consulted stakeholders about the planned significant change.{% endif %}
        {% if data["stakeholder-engagement-objections-raised"] == "not-applicable" %} No objections were raised.{% endif %}
        {% if data["stakeholder-engagement-consultation-included-admissions-variation"] == "yes" %} Relevant stakeholders have been notified of the admissions changes.{% elseif data["stakeholder-engagement-consultation-included-admissions-variation"] == "not-applicable" %} Notifying stakeholders of admissions changes is not applicable.{% endif %}
      {% endif %}
    </li>
    {% endif %}

    {% if data["la-objections-raised"] %}
    <li>
      {% if data["la-objections-raised"] == "not-applicable" %}
        No problems with local authority objections. The local authority has not raised objections to this change.{{ overviewDetail(data["la-objections-summary"]) }}
      {% elseif data["la-objections-raised"] == "yes" %}
        Local authority objections were raised and evidence confirms they have been addressed.{{ overviewDetail(data["la-objections-summary"]) }}
      {% else %}
        There is a problem with local authority objections. Objections were raised and no further information has been provided.{{ overviewDetail(data["la-objections-summary"]) }}
      {% endif %}
    </li>
    {% endif %}

    {% if data["religious-bodies-consulted"] or data["religious-bodies-objections-raised"] %}
    <li>
      {% if data["religious-bodies-consulted"] == "no" or data["religious-bodies-objections-raised"] == "yes-no-further-info" %}
        There is a problem with religious bodies.
        {% if data["religious-bodies-consulted"] == "no" %} Relevant religious bodies have not been consulted.{{ overviewDetail(data["religious-bodies-consulted-details"]) }}{% endif %}
        {% if data["religious-bodies-objections-raised"] == "yes-no-further-info" %} Objections were raised and no further information has been provided.{% endif %}
      {% elseif data["religious-bodies-objections-raised"] == "yes" %}
        Religious bodies raised objections. Evidence confirms the objections were addressed and consent obtained.
      {% elseif data["religious-bodies-consulted"] == "not-applicable" %}
        Religious body consultation is not applicable.
      {% else %}
        No problems with religious bodies.
        {% if data["religious-bodies-consulted"] == "yes" %} Relevant religious bodies have been consulted.{% endif %}
        {% if data["religious-bodies-objections-raised"] == "no" or data["religious-bodies-objections-raised"] == "not-applicable" %} No objections were raised.{{ overviewDetail(data["religious-bodies-objections-raised-details"]) }}{% endif %}
      {% endif %}
    </li>
    {% endif %}

    {% if data["ofsted-inspection-considered"] or data["ofsted-inspection-leadership-education"] or data["ofsted-inspection-evaluation-standard"] %}
    <li>
      {% if data["ofsted-inspection-considered"] == "no" or data["ofsted-inspection-leadership-education"] == "no" or data["ofsted-inspection-evaluation-standard"] == "no" %}
        There is a problem with Ofsted ratings.
        {% if data["ofsted-inspection-considered"] == "no" %} The academy is not rated good or outstanding under the pre-19 September 2024 framework.{% endif %}
        {% if data["ofsted-inspection-leadership-education"] == "no" %} The academy is not rated good or outstanding in leadership and management and quality of education.{% endif %}
        {% if data["ofsted-inspection-evaluation-standard"] == "no" %} The academy is not meeting expected standard, strong standard or exceptional in all evaluation areas.{% endif %}
        {{ overviewDetail(data["ofsted-inspection-summary"]) }}
      {% else %}
        No problems with Ofsted ratings.{{ overviewDetail(data["ofsted-inspection-summary"]) }}
      {% endif %}
    </li>
    {% endif %}

    {% if data["psed-considered"] or data["psed-disproportionate-impact"] %}
    <li>
      {% if data["psed-considered"] == "no" or data["psed-disproportionate-impact"] == "likely" %}
        There is a problem with the Public Sector Equality Duty.
        {% if data["psed-considered"] == "no" %} It has not been considered.{% endif %}
        {% if data["psed-disproportionate-impact"] == "likely" %} The decision is likely to disproportionately affect people who share protected characteristics.{% endif %}
        {{ overviewDetail(data["psed-summary"]) }}
      {% elseif data["psed-disproportionate-impact"] == "some-impact" %}
        The Public Sector Equality Duty has been considered. The decision may have some impact on people who share protected characteristics.{{ overviewDetail(data["psed-summary"]) }}
      {% else %}
        No problems with the Public Sector Equality Duty.
        {% if data["psed-considered"] == "yes" %} It has been considered.{% endif %}
        {% if data["psed-disproportionate-impact"] == "unlikely" %} The decision is unlikely to disproportionately affect people who share protected characteristics.{% endif %}
        {{ overviewDetail(data["psed-summary"]) }}
      {% endif %}
    </li>
    {% endif %}

    {% if data["land-transaction-required"] or data["land-transaction-team-consented"] %}
    <li>
      {% if data["land-transaction-required"] == "no-further-information" or data["land-transaction-team-consented"] == "no" %}
        There is a problem with land transaction.
        {% if data["land-transaction-required"] == "no-further-information" %} The landowner has not submitted a land transaction application.{% endif %}
        {% if data["land-transaction-team-consented"] == "no" %} The Land Transaction Team has not consented to the change.{% endif %}
        {{ overviewDetail(data["land-transaction-summary"] or data["land-transaction-team-summary"]) }}
      {% elseif data["land-transaction-required"] == "no-landowner-to-submit" %}
        The landowner still needs to submit a land transaction application.{{ overviewDetail(data["land-transaction-summary"]) }}
      {% elseif data["land-transaction-team-consented"] == "awaiting-approval" %}
        Land transaction consent is awaiting approval from the Land Transaction Team.{{ overviewDetail(data["land-transaction-team-summary"]) }}
      {% elseif data["land-transaction-required"] == "not-applicable" %}
        No problems with land transaction. A land transaction is not applicable.{{ overviewDetail(data["land-transaction-summary"]) }}
      {% else %}
        No problems with land transaction.
        {% if data["land-transaction-required"] == "yes" %} A land transaction application has been submitted.{% endif %}
        {% if data["land-transaction-team-consented"] == "yes" %} The Land Transaction Team has consented to the change.{% endif %}
        {{ overviewDetail(data["land-transaction-summary"] or data["land-transaction-team-summary"]) }}
      {% endif %}
    </li>
    {% endif %}

    {% if data["planning-permission-required"] %}
    <li>
      {% if data["planning-permission-required"] == "yes" %}
        No problems with planning permission. Planning permission has been secured.{{ overviewDetail(data["planning-permission-summary"]) }}
      {% elseif data["planning-permission-required"] == "not-applicable" %}
        No problems with planning permission. Planning permission is not applicable.{{ overviewDetail(data["planning-permission-summary"]) }}
      {% elseif data["planning-permission-required"] == "no-awaiting-approval" %}
        Planning permission has not yet been secured and is awaiting approval.{{ overviewDetail(data["planning-permission-summary"]) }}
      {% else %}
        There is a problem with planning permission. Planning permission has not been secured.{{ overviewDetail(data["planning-permission-summary"]) }}
      {% endif %}
    </li>
    {% endif %}

    {% if data["funding-considered"] %}
    <li>
      {% if data["funding-considered"] == "yes" %}
        No problems with funding. Funding has been secured.{{ overviewDetail(data["funding-summary"]) }}
      {% elseif data["funding-considered"] == "not-applicable" %}
        No problems with funding. Funding is not applicable.{{ overviewDetail(data["funding-summary"]) }}
      {% else %}
        There is a problem with funding. Funding has not been secured.{{ overviewDetail(data["funding-summary"]) }}
      {% endif %}
    </li>
    {% endif %}

    {% if data["fha-outcomes-recorded"] %}
    <li>
      {% if data["fha-outcomes-recorded"] == "no" %}
        No problems with the financial health assessment. No risks or issues were raised.{{ overviewDetail(data["fha-outcomes-summary"] or data["financial-health-assessment-summary"]) }}
      {% else %}
        There is a problem with the financial health assessment. Risks or issues were raised.{{ overviewDetail(data["fha-outcomes-summary"] or data["financial-health-assessment-summary"]) }}
      {% endif %}
    </li>
    {% endif %}

    {% if data["hqie-supports"] %}
    <li>
      {% if data["hqie-supports"] == "yes" %}
        No problems with the High Quality Trust Framework. No issues or risks have been identified.{{ overviewDetail(data["high-quality-inclusive-education-summary"]) }}
      {% elseif data["hqie-supports"] == "no" %}
        There is a problem with the High Quality Trust Framework. Risks or issues have been identified that are relevant to this significant change.{{ overviewDetail(data["high-quality-inclusive-education-summary"]) }}
      {% elseif data["hqie-supports"] == "not-relevant" %}
        Risks or issues have been identified in the High Quality Trust Framework, but they are not relevant to this significant change.{{ overviewDetail(data["high-quality-inclusive-education-summary"]) }}
      {% else %}
        High Quality Trust Framework consideration is not applicable.{{ overviewDetail(data["high-quality-inclusive-education-summary"]) }}
      {% endif %}
    </li>
    {% endif %}

  </ul>
  {% else %}
  <p class="govuk-body">No task answers have been recorded yet.</p>
  {% endif %}
</div>

{# Proposed decision and change dates #}
<div id="individual-information" class="govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l">Proposed decision and change dates</h2>
    <div class="app-summary-card">
      <div class="app-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          {% call row("Proposed decision date", "/202609v3/confirm-project-dates", "proposed decision date") %}
            {{ dateValue("proposed-decision-date") }}
          {% endcall %}
          {% call row("Proposed implementation date", "/202609v3/confirm-project-dates", "proposed implementation date") %}
            {{ dateValue("proposed-implementation-date") }}
          {% endcall %}
        </dl>
      </div>
    </div>
</div>

{# Admissions variation #}
<div id="admissions-variation" class="govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l">Admissions variation</h2>
    <div class="app-summary-card">
      <div class="app-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          {% call row("Is an admissions variation required?", "/202609v3/admissions-variation") %}
            {{ yesNo(data["admissions-variation-required"]) }}
          {% endcall %}
          {% call row("Are the LA, Pupil Place Planning Team, and the Admissions Team supportive of the admissions variation?", "/202609v3/admissions-variation", "whether the LA, Pupil Place Planning Team, and the Admissions Team are supportive") %}
            {{ yesNo(data["admissions-variation-teams-supportive"]) }}
          {% endcall %}
          {% if data["admissions-variation-teams-supportive"] == "no" %}
          {% call row("Give details", "/202609v3/admissions-variation", "why the LA, Pupil Place Planning Team, and the Admissions Team are not supportive") %}
            {{ value(data["admissions-variation-teams-supportive-details"]) }}
          {% endcall %}
          {% endif %}
          {% call row("Supporting evidence", "/202609v3/admissions-variation", "admissions variation supporting evidence") %}
            {{ value(data["admissions-variation-supporting-evidence"]) }}
          {% endcall %}
        </dl>
      </div>
    </div>
</div>

{# Consultation #}
<div id="consultation" class="govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l">Consultation</h2>

    <div class="app-summary-card">
      <div class="app-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          {% call row("Has a 3 week minimum consultation been carried out?", "/202609v3/consultation") %}
            {{ consultationCarriedOut(data["consultation-carried-out"]) }}
          {% endcall %}
          {% call row("Further information (optional)", "/202609v3/consultation", "further information") %}
            {{ value(data["consultation-summary"]) }}
          {% endcall %}
          {% call row("Supporting evidence", "/202609v3/consultation", "consultation supporting evidence") %}
            {{ value(data["consultation-supporting-evidence"]) }}
          {% endcall %}
        </dl>
      </div>
    </div>

    <div class="app-summary-card">
      <div class="app-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          {% call row("Has the trust consulted stakeholders about the planned significant change?", "/202609v3/stakeholder-engagement") %}
            {{ yesNo(data["stakeholder-engagement-carried-out"]) }}
          {% endcall %}
          {% if data["stakeholder-engagement-carried-out"] == "no" %}
          {% call row("Give details", "/202609v3/stakeholder-engagement", "why the trust has not consulted stakeholders") %}
            {{ value(data["stakeholder-engagement-carried-out-details"]) }}
          {% endcall %}
          {% endif %}
          {% call row("Were there any objections raised?", "/202609v3/stakeholder-engagement", "whether any objections were raised") %}
            {{ stakeholderObjectionsRaised(data["stakeholder-engagement-objections-raised"]) }}
          {% endcall %}
          {% call row("Have the relevant stakeholder been notified of the admissions changes?", "/202609v3/stakeholder-engagement", "whether the relevant stakeholder have been notified of the admissions changes") %}
            {{ yesNo(data["stakeholder-engagement-consultation-included-admissions-variation"]) }}
          {% endcall %}
          {% if data["stakeholder-engagement-consultation-included-admissions-variation"] == "no" %}
          {% call row("Give details", "/202609v3/stakeholder-engagement", "why the relevant stakeholder have not been notified of the admissions changes") %}
            {{ value(data["stakeholder-engagement-consultation-included-admissions-variation-details"]) }}
          {% endcall %}
          {% endif %}
          {% call row("Supporting evidence", "/202609v3/stakeholder-engagement", "stakeholder engagement supporting evidence") %}
            {{ value(data["stakeholder-engagement-supporting-evidence"]) }}
          {% endcall %}
        </dl>
      </div>
    </div>

    <div class="app-summary-card">
      <div class="app-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          {% call row("Has the LA (local authority) or any bordering LAs raised objections to this change?", "/202609v3/la-objections") %}
            {{ laObjectionsRaised(data["la-objections-raised"]) }}
          {% endcall %}
          {% call row("Further information (optional)", "/202609v3/la-objections", "further information") %}
            {{ value(data["la-objections-summary"]) }}
          {% endcall %}
          {% call row("Supporting evidence", "/202609v3/la-objections", "LA objections supporting evidence") %}
            {{ value(data["la-objections-supporting-evidence"]) }}
          {% endcall %}
        </dl>
      </div>
    </div>

    <div class="app-summary-card">
      <div class="app-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          {% call row("Have the relevant religious bodies been consulted?", "/202609v3/religious-bodies") %}
            {{ yesNo(data["religious-bodies-consulted"]) }}
          {% endcall %}
          {% if data["religious-bodies-consulted"] == "no" %}
          {% call row("Give details", "/202609v3/religious-bodies", "why the relevant religious bodies have not been consulted") %}
            {{ value(data["religious-bodies-consulted-details"]) }}
          {% endcall %}
          {% endif %}
          {% call row("Has the relevant religious body raised any objections?", "/202609v3/religious-bodies", "whether the relevant religious body raised any objections") %}
            {{ religiousBodiesObjectionsRaised(data["religious-bodies-objections-raised"]) }}
          {% endcall %}
          {% if data["religious-bodies-objections-raised"] == "no" %}
          {% call row("Give details", "/202609v3/religious-bodies", "why no objections were raised") %}
            {{ value(data["religious-bodies-objections-raised-details"]) }}
          {% endcall %}
          {% endif %}
          {% call row("Supporting evidence", "/202609v3/religious-bodies", "religious bodies supporting evidence") %}
            {{ value(data["religious-bodies-supporting-evidence"]) }}
          {% endcall %}
        </dl>
      </div>
    </div>
</div>

{# Performance #}
<div id="mandatory-legal-requirements" class="govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l">Performance</h2>
    <div class="app-summary-card">
      <div class="app-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          {% call row("Date of most recent Ofsted inspection", "/202609v3/ofsted-inspection", "Ofsted inspection date") %}
            {{ dateValue("ofsted-inspection-date") }}
          {% endcall %}
          {% call row("Is the academy rated good or outstanding? (Pre 19th September 2024)", "/202609v3/ofsted-inspection") %}
            {{ yesNo(data["ofsted-inspection-considered"]) }}
          {% endcall %}
          {% call row("Is the academy rated good or outstanding in leadership & management and quality of education? (19 sept 2024 to 9 Nov 2025)", "/202609v3/ofsted-inspection", "Ofsted leadership and education") %}
            {{ yesNo(data["ofsted-inspection-leadership-education"]) }}
          {% endcall %}
          {% call row("Is the academy meeting expected standard, strong standard or exceptional in all evaluation areas? (Post 9 Nov 2025)", "/202609v3/ofsted-inspection", "Ofsted evaluation standard") %}
            {{ yesNo(data["ofsted-inspection-evaluation-standard"]) }}
          {% endcall %}
          {% call row("Details", "/202609v3/ofsted-inspection", "Ofsted inspection details") %}
            {{ value(data["ofsted-inspection-summary"]) }}
          {% endcall %}
          {% call row("Supporting evidence", "/202609v3/ofsted-inspection", "Ofsted inspection supporting evidence") %}
            {{ value(data["ofsted-inspection-supporting-evidence"]) }}
          {% endcall %}
        </dl>
      </div>
    </div>
</div>

{# PSED #}
<div id="psed" class="govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l">PSED</h2>
    <div class="app-summary-card">
      <div class="app-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          {% call row("Has the Public Sector Equality Duty been considered and an Equalities Impact Assessment been completed?", "/202609v3/psed") %}
            {{ yesNo(data["psed-considered"]) }}
          {% endcall %}
          {% call row("Is the decision likely to disproportionately affect any particular person or group who share protected characteristics?", "/202609v3/psed", "disproportionate impact") %}
            {{ psedOutcome(data["psed-disproportionate-impact"]) }}
          {% endcall %}
          {% call row("Summary", "/202609v3/psed", "PSED summary") %}
            {{ value(data["psed-summary"]) }}
          {% endcall %}
          {% call row("Supporting evidence", "/202609v3/psed", "PSED supporting evidence") %}
            {{ value(data["supporting-evidence"]) }}
          {% endcall %}
        </dl>
      </div>
    </div>
</div>

{# Land and planning #}
<div id="land-and-planning" class="govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l">Land and planning</h2>

    <div class="app-summary-card">
      <div class="app-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          {% call row("Has the landowner submitted a land transaction application?", "/202609v3/land-transaction") %}
            {{ landTransactionRequired(data["land-transaction-required"]) }}
          {% endcall %}
          {% call row("Have the Land Transaction Team consented to the change?", "/202609v3/land-transaction", "Land Transaction Team consent") %}
            {{ landTransactionTeamConsented(data["land-transaction-team-consented"]) }}
          {% endcall %}
          {% call row("Details", "/202609v3/land-transaction", "land transaction details") %}
            {{ value(data["land-transaction-summary"]) }}
          {% endcall %}
          {% call row("Supporting evidence", "/202609v3/land-transaction", "land transaction supporting evidence") %}
            {{ value(data["land-transaction-supporting-evidence"]) }}
          {% endcall %}
        </dl>
      </div>
    </div>

    <div class="app-summary-card">
      <div class="app-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          {% call row("Has planning permission been secured?", "/202609v3/planning-permission") %}
            {{ planningPermissionSecured(data["planning-permission-required"]) }}
          {% endcall %}
          {% call row("Details", "/202609v3/planning-permission", "planning permission details") %}
            {{ value(data["planning-permission-summary"]) }}
          {% endcall %}
          {% call row("Supporting evidence", "/202609v3/planning-permission", "planning permission supporting evidence") %}
            {{ value(data["planning-permission-supporting-evidence"]) }}
          {% endcall %}
        </dl>
      </div>
    </div>
</div>

{# Financials #}
<div id="financials" class="govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l">Financials</h2>

    <div class="app-summary-card">
      <div class="app-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          {% call row("Has funding been secured?", "/202609v3/funding") %}
            {{ yesNo(data["funding-considered"]) }}
          {% endcall %}
          {% call row("Details", "/202609v3/funding", "funding details") %}
            {{ value(data["funding-summary"]) }}
          {% endcall %}
          {% call row("Supporting evidence", "/202609v3/funding", "funding supporting evidence") %}
            {{ value(data["funding-supporting-evidence"]) }}
          {% endcall %}
        </dl>
      </div>
    </div>

    <div class="app-summary-card">
      <div class="app-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          {% call row("Can you provide an overview of your commission?", "/202609v3/financial-health-assessment") %}
            {{ value(data["financial-health-assessment-summary"]) }}
          {% endcall %}
        </dl>
      </div>
    </div>

    <div class="app-summary-card">
      <div class="app-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          {% call row("Have there been any risks or issues raised in the financial health assessment?", "/202609v3/fha-outcomes") %}
            {{ yesNo(data["fha-outcomes-recorded"]) }}
          {% endcall %}
          {% call row("Details", "/202609v3/fha-outcomes", "FHA Outcomes details") %}
            {{ value(data["fha-outcomes-summary"]) }}
          {% endcall %}
          {% call row("Supporting evidence", "/202609v3/fha-outcomes", "FHA Outcomes supporting evidence") %}
            {{ value(data["fha-outcomes-supporting-evidence"]) }}
          {% endcall %}
        </dl>
      </div>
    </div>
</div>

{# High Quality Trust Framework #}
<div id="hqtf" class="govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l">High Quality Trust Framework</h2>

    <div class="app-summary-card">
      <div class="app-summary-card__title">
        <h3 class="app-summary-card__heading">HQTF consideration</h3>
      </div>
      <div class="app-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          {% call row("Have any issues or risks been identified with regards to the HQTF pillars - High Quality & Inclusive Education, School Improvement, Workforce, Finance & Operations, Governance & Leadership?", "/202609v3/high-quality-inclusive-education") %}
            {%- if data["hqie-supports"] == "yes" -%}No issues or risks identified
            {%- elseif data["hqie-supports"] == "no" -%}Risks or issues identified that are relevant to this significant change
            {%- elseif data["hqie-supports"] == "not-relevant" -%}Risks or issues identified that are not relevant to this significant change
            {%- else -%}{{ yesNo(data["hqie-supports"]) }}
            {%- endif -%}
          {% endcall %}
          {% call row("Further information (optional)", "/202609v3/high-quality-inclusive-education", "HQTF consideration further information") %}
            {{ value(data["high-quality-inclusive-education-summary"]) }}
          {% endcall %}
          {% call row("Supporting evidence", "/202609v3/high-quality-inclusive-education", "HQTF consideration supporting evidence") %}
            {{ value(data["high-quality-inclusive-education-supporting-evidence"]) }}
          {% endcall %}
        </dl>
      </div>
    </div>
</div>

{# Recommendations #}
<div id="recommendations" class="govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l">Recommendations</h2>

    <div class="app-summary-card">
      <div class="app-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          {% call row("Recommendation", "/202609v3/approve", "recommendation") %}
            {{ value(data["recommendation"]) }}
          {% endcall %}
          {% call row("Rationale", "/202609v3/approve", "recommendation rationale") %}
            {{ value(data["approve-rationale"]) }}
          {% endcall %}
        </dl>
      </div>
    </div>
</div>

  </div>
</div>

<div class="app-jump-layout app-jump-layout--footer">
  <div class="app-jump-layout__nav">
    <p class="app-jump-layout__back-to-top">
      <a class="govuk-link" href="#" onclick="window.scrollTo(0, 0); return false;">↑ Back to top</a>
    </p>
  </div>
  <div class="app-jump-layout__content"></div>
</div>

<script>
  (function () {
    var section = new URLSearchParams(window.location.search).get('section')
    if (!section) {
      return
    }
    var target = document.getElementById(section)
    if (target) {
      target.scrollIntoView()
    }
  })()
</script>

{% endblock %}
