{% extends "202609v3/layouts/main-prepare.html" %}

{% set pageName = "St Theresa's Catholic Primary School" %}
{% set navActive = "significant-changes" %}
{% if data['change-type'] %}
  {% if data['change-type'] is string %}
    {% set changeTypeLabel = data['change-type'] %}
  {% else %}
    {% set changeTypeLabel = data['change-type'] | join(", ") %}
  {% endif %}
{% else %}
  {% set changeTypeLabel = "Testing tiers" %}
{% endif %}

{% macro statusTag(id, status) %}
  {% if status == "completed" %}
  <strong class="govuk-tag app-task-list__tag app-task-list__tag--completed" id="{{ id }}">Completed</strong>
  {% else %}
  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="{{ id }}">Not started</strong>
  {% endif %}
{% endmacro %}

{% block content %}

<div class="govuk-width-container">
    <a class="govuk-back-link" href="significant-changes">Back</a>

    <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <span class="govuk-caption-xl" data-cy=".govuk-caption-xl">URN: 101335</span>
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-2" data-cy="select-heading">
                    St Theresa's Catholic Primary School
                </h1>
                {% include "202609v3/includes/recorded-decision-banner.html" %}
            </div>
            <div class="govuk-grid-column-full">
                <p class="govuk-body govuk-!-margin-bottom-1">
                    Trust: Appleby Grammar School (10059089)
                </p>
                <p class="govuk-body govuk-!-margin-bottom-1">
                    Tier: 1
                </p>
                <p class="govuk-body govuk-!-margin-bottom-1">
                    Type: {{ changeTypeLabel }}
                    <a class="govuk-link govuk-!-padding-left-50" href="select-change-type">Change</a>
                </p>
                <p class="govuk-body govuk-!-margin-bottom-5">
                    Project owner:
                    <span data-id="assigned-user">Your name</span>
                    <a class="govuk-link govuk-!-padding-left-50" href="#">Change</a>
                </p>
                <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-5">
                    {% include "202609v3/includes/project-status-tag.html" %}
                </p>
            </div>

            <div class="govuk-grid-column-full">
                <nav class="moj-sub-navigation" aria-label="Sub navigation">
                    <ul class="moj-sub-navigation__list govuk-!-margin-top-6">
                        <li class="moj-sub-navigation__item">
                            <a class="moj-sub-navigation__link" aria-current="page" href="#">
                                Project details
                            </a>
                        </li>
                        <li class="moj-sub-navigation__item">
                            <a class="moj-sub-navigation__link" href="application-form">
                                School application form
                            </a>
                        </li>
                        <li class="moj-sub-navigation__item" data-cy="record_decision_menu">
                            <a class="moj-sub-navigation__link" href="decision">
                                Decision
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <section id="add-dfe-information" class="govuk-!-margin-bottom-8">
                    <h2 class="app-task-list__section">Key project dates</h2>
                    <div class="app-task-list">
                        <ul class="app-task-list__items govuk-!-padding-left-0">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="confirm-project-dates-status" href="confirm-project-dates">Decision and implementation dates</a>
                                </span>
                                {{ statusTag("confirm-project-dates-status", data | taskStatus([
                                  ["proposed-decision-date-day", "proposed-decision-date-month", "proposed-decision-date-year"],
                                  ["proposed-implementation-date-day", "proposed-implementation-date-month", "proposed-implementation-date-year"]
                                ])) }}
                            </li>
                        </ul>
                    </div>
                </section>

                <section id="admissions-variation" class="govuk-!-margin-bottom-8">
                    <h2 class="app-task-list__section">Admissions variation</h2>
                    <div class="app-task-list">
                        <ul class="app-task-list__items govuk-!-padding-left-0">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="admissions-variation-status" href="admissions-variation">Admissions variation</a>
                                </span>
                                {{ statusTag("admissions-variation-status", data | taskStatus([
                                  "admissions-variation-required",
                                  { when: "admissions-variation-required", equals: "yes", field: "admissions-variation-la-supportive" },
                                  { when: "admissions-variation-required", equals: "yes", field: "admissions-variation-pupil-place-planning-supportive" },
                                  { when: "admissions-variation-required", equals: "yes", field: "admissions-variation-admissions-team-supportive" }
                                ])) }}
                            </li>
                        </ul>
                    </div>
                </section>

                <section id="consultation" class="govuk-!-margin-bottom-8">
                    <h2 class="app-task-list__section">Consultation details</h2>
                    <div class="app-task-list">
                        <ul class="app-task-list__items govuk-!-padding-left-0">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="consultation-status" href="consultation">Consultation</a>
                                </span>
                                {{ statusTag("consultation-status", data | taskStatus(["consultation-carried-out"])) }}
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="stakeholder-engagement-status" href="stakeholder-engagement">Stakeholder engagement</a>
                                </span>
                                {{ statusTag("stakeholder-engagement-status", data | taskStatus([
                                  "stakeholder-engagement-carried-out",
                                  "stakeholder-engagement-objections-raised",
                                  "stakeholder-engagement-consultation-included-admissions-variation"
                                ])) }}
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="la-objections-status" href="la-objections">Local authority objections</a>
                                </span>
                                {{ statusTag("la-objections-status", data | taskStatus(["la-objections-raised"])) }}
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="religious-bodies-status" href="religious-bodies">Religious bodies</a>
                                </span>
                                {{ statusTag("religious-bodies-status", data | taskStatus([
                                  "religious-bodies-consulted",
                                  "religious-bodies-objections-raised"
                                ])) }}
                            </li>
                        </ul>
                    </div>
                </section>

                <section id="screening-questions" class="govuk-!-margin-bottom-8">
                    <h2 class="app-task-list__section">Academy performance</h2>
                    <div class="app-task-list">
                        <ul class="app-task-list__items govuk-!-padding-left-0">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="ofsted-inspection-status" href="ofsted-inspection">Ofsted</a>
                                </span>
                                {{ statusTag("ofsted-inspection-status", data | taskStatus([
                                  ["ofsted-inspection-date-day", "ofsted-inspection-date-month", "ofsted-inspection-date-year"],
                                  { when: "ofsted-inspection-framework", equals: "pre-2024-09-19", field: "ofsted-inspection-considered" },
                                  { when: "ofsted-inspection-framework", equals: "2024-09-19-to-2025-11-09", field: "ofsted-inspection-leadership-education" },
                                  { when: "ofsted-inspection-framework", equals: "post-2025-11-09", field: "ofsted-inspection-evaluation-standard" }
                                ])) }}
                            </li>
                        </ul>
                    </div>
                </section>

                <section id="psed" class="govuk-!-margin-bottom-8">
                    <h2 class="app-task-list__section">Public Sector Equality Duty</h2>
                    <div class="app-task-list">
                        <ul class="app-task-list__items govuk-!-padding-left-0">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="psed-status" href="psed">Public Sector Equality Duty</a>
                                </span>
                                {{ statusTag("psed-status", data | taskStatus(["psed-considered", "psed-disproportionate-impact"])) }}
                            </li>
                        </ul>
                    </div>
                </section>

                <section id="land-and-planning" class="govuk-!-margin-bottom-8">
                    <h2 class="app-task-list__section">Land transaction application and planning permission</h2>
                    <div class="app-task-list">
                        <ul class="app-task-list__items govuk-!-padding-left-0">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="land-transaction-status" href="land-transaction">Land transaction application</a>
                                </span>
                                {{ statusTag("land-transaction-status", data | taskStatus([
                                  "land-transaction-required",
                                  "land-transaction-team-consented"
                                ])) }}
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="planning-permission-status" href="planning-permission">Planning permission</a>
                                </span>
                                {{ statusTag("planning-permission-status", data | taskStatus(["planning-permission-required"])) }}
                            </li>
                        </ul>
                    </div>
                </section>

                <section id="financials" class="govuk-!-margin-bottom-8">
                    <h2 class="app-task-list__section">Financial details</h2>
                    <div class="app-task-list">
                        <ul class="app-task-list__items govuk-!-padding-left-0">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="funding-status" href="funding">Funding</a>
                                </span>
                                {{ statusTag("funding-status", data | taskStatus(["funding-considered"])) }}
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="financial-health-assessment-status" href="financial-health-assessment">Financial Health Assessment</a>
                                </span>
                                {{ statusTag("financial-health-assessment-status", data | taskStatus(["financial-health-assessment-complete"])) }}
                            </li>
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="fha-outcomes-status" href="fha-outcomes">Financial Health Assessment (FHA) outcomes</a>
                                </span>
                                {{ statusTag("fha-outcomes-status", data | taskStatus(["fha-outcomes-recorded"])) }}
                            </li>
                        </ul>
                    </div>
                </section>

                <section id="growth-applications" class="govuk-!-margin-bottom-8">
                    <h2 class="app-task-list__section">High Quality Trust Framework</h2>
                    <div class="app-task-list">
                        <ul class="app-task-list__items govuk-!-padding-left-0">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="high-quality-inclusive-education-status" href="high-quality-inclusive-education">HQTF consideration</a>
                                </span>
                                {{ statusTag("high-quality-inclusive-education-status", data | taskStatus(["hqie-supports"])) }}
                            </li>
                        </ul>
                    </div>
                </section>

                <section id="recommendations" class="govuk-!-margin-bottom-8">
                    <h2 class="app-task-list__section">Recommendation on how to proceed</h2>
                    <div class="app-task-list">
                        <ul class="app-task-list__items govuk-!-padding-left-0">
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a class="govuk-link" aria-describedby="approve-status" href="approve">Recommendation</a>
                                </span>
                                {{ statusTag("approve-status", data | taskStatus(["recommendation"])) }}
                            </li>
                        </ul>
                    </div>
                </section>

                <a href="/202609v3/preview-document" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Preview
                </a>
            </div>
        </div>
    </main>
</div>

{% endblock %}
