{% extends "20252026-q3-sprint-1/layouts/main-prepare.html" %}

{% set pageName="Home" %}

{% block content %}



<div class="govuk-width-container">
    <a class="govuk-back-link" href="first-page.html">Back</a>
 
 
         <main class="govuk-main-wrapper" id="main-content" role="main">
 
             
 
             
 
 
 
 
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
         <span class="govuk-caption-xl" data-cy=".govuk-caption-xl">URN: 105290</span>
       <h1 class="govuk-heading-xl govuk-!-margin-bottom-2" data-cy="select-heading">
          Greenhill Primary School
       </h1>
 
 </div>
 <div class="govuk-grid-column-full">
    <p class="govuk-body govuk-!-margin-bottom-1">
       Route: Form a MAT Voluntary conversion
    </p>
    <p class="govuk-body govuk-!-margin-bottom-5">
       Project owner:
 
                <span data-id="assigned-user" class="empty">Empty</span>
                <a class="govuk-link govuk-!-padding-left-50" href="/project-assignment/22958">Change</a>
    </p>
    <p class="govuk-!-margin-top-0  govuk-!-margin-bottom-5">
       <strong class="govuk-tag govuk-tag--yellow" id="project-status-22958">Pre decision</strong>
    </p>
 </div>
 
    <div class="govuk-grid-column-full">
       
 <nav class="moj-sub-navigation" aria-label="Sub navigation">
     <ul class="moj-sub-navigation__list govuk-!-margin-top-6">
         <li class="moj-sub-navigation__item">
             <a class="moj-sub-navigation__link" aria-current="page" href="/task-list/22958">
                 Project details
             </a>
         </li>
 
         
 
         <li class="moj-sub-navigation__item">
             <a class="moj-sub-navigation__link" href="/task-list/22958/ExternalApplicationForm">
                 School application form
             </a>
         </li>
 
         
         
         
 
         <li class="moj-sub-navigation__item" data-cy="record_decision_menu">
             <a class="moj-sub-navigation__link" href="/task-list/22958/record-a-decision">
                 Decision
             </a>
         </li>
 
         <li class="moj-sub-navigation__item">
             <a class="moj-sub-navigation__link" href="/project-notes/22958">
                 Project notes
             </a>
         </li>
         
 
         <li class="moj-sub-navigation__item" data-cy="conversion_date_history_menu">
             <a class="moj-sub-navigation__link" href="/task-list/22958/conversion-date-history">
                 Conversion date history
             </a>
         </li>
 
     </ul>
 </nav>
 
    </div>
 </div>
 
 <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
         <h2 class="govuk-heading-l govuk-!-margin-bottom-2" data-test="prepare-project-doc">Prepare a project document</h2>
         <p class="govuk-body">
             These steps will help you create a document to prepare for the proposed decision date, and
             record things like when the LA (local authority) information template was sent.
         </p>
         <p class="govuk-body"> You can complete them in any order.</p>
 
         <h3 class="app-task-list__section govuk-!-margin-top-8">Proposed decision and conversion dates</h3>
         <div class="app-task-list">
             <ul class="app-task-list__items govuk-!-padding-left-0">
                 <li class="app-task-list__item">
                     <span class="app-task-list__task-name" data-cy="task-name">
                         <a class="govuk-link" aria-describedby="project-dates-status" data-cy="confirm_project_dates" href="/task-list/22958/confirm-project-dates">
                             Confirm project dates
                         </a>
                     </span>
                     <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="project-dates-status"> Not started</strong>
                 </li>
              </ul>
         </div>
 
         <h3 class="app-task-list__section govuk-!-margin-top-8">Add school information</h3>
        <div class="app-task-list">
           <ul class="app-task-list__items govuk-!-padding-left-0">
              <li class="app-task-list__item">
                 <span class="app-task-list__task-name">
                    <a class="govuk-link" aria-describedby="school-overview-status" href="/task-list/22958/school-overview">
                       School overview
                    </a>
                 </span>
                 <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="school-overview-status"> Not started</strong>
              </li>
              <li class="app-task-list__item">
                 <span class="app-task-list__task-name">
                    <a class="govuk-link" aria-describedby="school-budget-information-status" href="/task-list/22958/budget">
                       Budget
                    </a>
                 </span>
                 <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="school-budget-information-status">
                    Not started
                 </strong>
              </li>
              <li class="app-task-list__item">
                 <span class="app-task-list__task-name">
                    <a class="govuk-link" href="/task-list/22958/pupil-forecasts">
                       Pupil forecasts
                    </a>
                 </span>
              </li>
              <li class="app-task-list__item">
                 <span class="app-task-list__task-name">
                    <a class="govuk-link" aria-describedby="school-and-trust-information-status" href="/task-list/22958/conversion-details">Conversion details</a>
                 </span>
                 <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="school-and-trust-information-status">
                    Not started
                 </strong>
              </li>
                 <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                       <a class="govuk-link" aria-describedby="legal-status" data-cy="select-tasklist-links-legalrequirementlinks" href="/task-list/22958/legal-requirements">
                          Legal requirements
                       </a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="legal-status" data-cy="select-tasklist-legalrequirements-status">
                       Not started
                    </strong>
                 </li>
             <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                    <a class="govuk-link" aria-describedby="public-sector-equality-duty-task" href="/task-list/22958/public-sector-equality-duty">Public Sector Equality Duty</a>
                </span>
                     <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="public-sector-equality-duty-task" data-cy="select-tasklist-psed-status">
                       Not started
                   </strong>
             </li>
           </ul>
        </div>
           <template-guidance>
                 <h3 class="app-task-list__section govuk-!-margin-top-8">Create a trust template</h3>
                 <div class="app-task-list">
                     <ul class="app-task-list__items govuk-!-padding-left-0">
                         <li class="app-task-list__item">
                             <span class="app-task-list__task-name">
                                 <a class="govuk-link" href="22958/trust-guidance">
                                     Prepare your template
                                 </a>
                             </span>                           
                         </li>
                     </ul>
                 </div></template-guidance>
        <h3 class="app-task-list__section govuk-!-margin-top-8">Give a case for academisation</h3>
         <div class="app-task-list">
             <ul class="app-task-list__items govuk-!-padding-left-0">
                 <li class="app-task-list__item">
                     <span class="app-task-list__task-name">
                         <a class="govuk-link" aria-describedby="rationale-status" href="third-page.html">
                             Rationale
                         </a>
                     </span>
                     <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="rationale-status">
                         Not started
                     </strong>
                 </li>
                 <li class="app-task-list__item">
                     <span class="app-task-list__task-name">
                         <a class="govuk-link" aria-describedby="risks-and-issues-status" href="/task-list/22958/confirm-risks-issues">
                             Risks and issues
                         </a>
                     </span>
                     <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="risks-and-issues-status">
                         Not started
                     </strong>
                 </li>
             </ul>
         </div>
 
        <h3 class="app-task-list__section govuk-!-margin-top-8">Say when the LA information template was sent</h3>
         <div class="app-task-list">
             <ul class="app-task-list__items govuk-!-padding-left-0">
                 <li class="app-task-list__item">
                     <span class="app-task-list__task-name">
                         <a class="govuk-link" aria-describedby="la-info-template-status" href="/task-list/22958/confirm-local-authority-information-template-dates">
                             LA information template sent date
                         </a>
                     </span>
                     <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="la-info-template-status">Not started</strong>
                 </li>
             </ul>
         </div>
         
         <h3 class="app-task-list__section govuk-!-margin-top-0">Performance data</h3>
         
        <div class="app-task-list" aria-label="list of tasks">
             <ul class="app-task-list__items govuk-!-padding-left-0">
                 <li class="app-task-list__item">
                     <span class="app-task-list__task-name">
                         <a class="govuk-link" rel="noreferrer noopener" href="https://test.find-information-schools-trusts.education.gov.uk/schools/ofsted/overview?urn=105290" target="_blank" aria-describedby="school-performance-status">
                             Ofsted information (opens in a new tab)
                         </a>
                     </span>
                 </li>
                     <li class="app-task-list__item">
                         <span class="app-task-list__task-name" id="key-stage-2-performance-tables">
                             <a class="govuk-link" href="/task-list/22958/key-stage-2-performance-tables">
                                 Key stage 2 performance tables
                             </a>
                         </span>
                     </li>
             </ul>
 
         </div>
            <h2 class="govuk-heading-l">
               Create your project document
            </h2>
             <p class="govuk-body">Project documents are in Microsoft Word format. You can make changes to documents after you create them.</p>
             <div class="govuk-input__wrapper">
                 <a href="eighth-page.html" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" id="preview-project-template-button" data-module="govuk-button" data-govuk-button-init="">Preview project document</a>
                 <a href="seventh-page.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-2 govuk-!-margin-left-1" id="generate-project-template-button" data-module="govuk-button" data-test="generate-htb" data-google-analytics-project-generate="" data-govuk-button-init="">Create project document</a>
             </div>
     </div>
 </div>
         </main>
     </div>

<script>
(function () {
  var STATUS_KEY = 'prototypePrepare:202605b:rationaleSectionStatus';
  var LEGACY_KEY = 'prototypePrepare:202605b:rationaleSectionComplete';
  var tag = document.getElementById('rationale-status');
  if (!tag) return;
  try {
    var raw = sessionStorage.getItem(STATUS_KEY);
    if (!raw && sessionStorage.getItem(LEGACY_KEY) === 'true') {
      raw = 'completed';
    }
    if (raw === 'completed') {
      tag.textContent = 'Completed';
      tag.classList.remove('govuk-tag--grey');
      tag.classList.add('app-task-tag--rationale-complete');
    } else if (raw === 'in-progress') {
      tag.textContent = 'In progress';
      tag.classList.remove('govuk-tag--grey');
      tag.classList.add('app-task-tag--rationale-complete');
    }
  } catch (err) {
    /* storage disabled */
  }
})();
</script>

{% endblock %}
