{% extends "202609v4/layouts/main-prepare.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "202609v4/includes/rich-text-editor.html" import appRichTextEditor %}

{% set pageName = "Recommendation" %}
{% set navActive = "significant-changes" %}
{% set returnTo = "/202609v4/preview-document" + (("?section=" + data.section) if data.section else "") if data.returnTo == "preview" else (data["sig-change-return-to"] if data["sig-change-return-to"] else "/202609v4/st-theresas") %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: returnTo
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "202609v4/includes/radio-error-summary.html" %}
    <span class="govuk-caption-l">St Theresa's Catholic Primary School</span>
    <h1 class="govuk-heading-l">Recommendation</h1>
    <p class="govuk-body">Enter a recommendation for this significant change.</p>

    <form method="post" action="">

      {% set approveWithConditionsHtml %}
      {{ appRichTextEditor({
        name: "approve-with-conditions-rationale",
        id: "approve-with-conditions-rationale",
        value: data['approve-with-conditions-rationale'],
        label: "Give details",
        errorMessage: errors['approve-with-conditions-rationale']
      }) }}
      {% endset %}

      {% set withdrawHtml %}
      {{ appRichTextEditor({
        name: "withdraw-rationale",
        id: "withdraw-rationale",
        value: data['withdraw-rationale'],
        label: "Give details",
        errorMessage: errors['withdraw-rationale']
      }) }}
      {% endset %}

      {% set declineHtml %}
      {{ appRichTextEditor({
        name: "decline-rationale",
        id: "decline-rationale",
        value: data['decline-rationale'],
        label: "Give details",
        errorMessage: errors['decline-rationale']
      }) }}
      {% endset %}

      {{ govukRadios({
        name: "recommendation",
        errorMessage: errors['recommendation'],
        value: data['recommendation'],
        fieldset: {
          legend: {
            text: "What is your recommendation?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          { value: "Approve", text: "Approve" },
          {
            value: "Approve with conditions",
            text: "Approve with conditions",
            conditional: {
              html: approveWithConditionsHtml
            }
          },
          {
            value: "Withdraw",
            text: "Withdraw",
            conditional: {
              html: withdrawHtml
            }
          },
          {
            value: "Decline",
            text: "Decline",
            conditional: {
              html: declineHtml
            }
          }
        ]
      }) }}

      <input type="hidden" name="approve-complete" value="true">

      {% include "202609v4/includes/task-primary-button.html" %}

    </form>
  </div>
</div>

{% endblock %}
