{% extends "202609v4/layouts/main-prepare.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName = "Decision maker's name" %}
{% set navActive = "significant-changes" %}

{% set backHref = "/202609v4/approve-check-answers" if data['approve-return-to-check'] else "/202609v4/approve-decision-maker" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: backHref
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "202609v4/includes/radio-error-summary.html" %}
    <form method="post" action="/202609v4/approve-decision-maker-name">

      {{ govukInput({
        id: "decision-maker-name",
        name: "decision-maker-name",
        value: data['decision-maker-name'],
        errorMessage: errors['decision-maker-name'],
        label: {
          html: '<span class="govuk-caption-l">Record the decision</span> Decision maker\'s name',
          isPageHeading: true,
          classes: "govuk-label--l"
        },
        hint: {
          text: "Enter the name of the person who made the decision"
        }
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
