<h1 class="app-word-doc__title">Greenhill Primary School - URN 105290</h1>
<p class="app-word-doc__subtitle">TC TM trust - TR04155</p>

<section class="app-word-doc__section app-word-doc__section--content">
  <div class="app-word-doc__section-body">
    <h2>School overview</h2>

    <div class="app-word-doc__section app-word-doc__section--meta">
      <table class="app-word-doc__meta-table">
        <tbody>
          <tr><th scope="row">School type</th><td>Community school</td></tr>
          <tr><th scope="row">School phase</th><td>Primary</td></tr>
          <tr><th scope="row">Age range</th><td>4 to 7</td></tr>
          <tr><th scope="row">Capacity</th><td>270</td></tr>
          <tr><th scope="row">Published admission number (PAN)</th><td></td></tr>
          <tr><th scope="row">Number on roll (NOR)</th><td>211</td></tr>
          <tr><th scope="row">Percentage of the school is full</th><td>78%</td></tr>
          <tr><th scope="row">Percentage of free school meals at the school (%FSM)</th><td>10.00%</td></tr>
          <tr><th scope="row">Viability issues</th><td></td></tr>
          <tr><th scope="row">Financial deficit</th><td></td></tr>
          <tr><th scope="row">Private finance initiative (PFI) scheme</th><td>No</td></tr>
          <tr><th scope="row">Is the school linked to a diocese?</th><td>No</td></tr>
          <tr><th scope="row">Distance from the converting school to the trust or other schools in the trust</th><td>230 miles</td></tr>
          <tr><th scope="row">Parliamentary constituency</th><td></td></tr>
          <tr><th scope="row">MP name and political party</th><td></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="app-word-doc__section app-word-doc__section--content">
  <div class="app-word-doc__section-body">
    <h2>Budget information</h2>

    <div class="app-word-doc__section app-word-doc__section--meta">
      <table class="app-word-doc__meta-table">
        <tbody>
          <tr><th scope="row">End of current financial year</th><td></td></tr>
          <tr><th scope="row">Forecast revenue carry forward at the end of the current financial year</th><td></td></tr>
          <tr><th scope="row">Forecast capital carry forward at the end of the current financial year</th><td></td></tr>
          <tr><th scope="row">End of next financial year</th><td></td></tr>
          <tr><th scope="row">Forecast revenue carry forward at the end of the next financial year</th><td></td></tr>
          <tr><th scope="row">Forecast capital carry forward at the end of the next financial year</th><td></td></tr>
        </tbody>
      </table>
    </div>

    <h3>Additional information</h3>
  </div>
</section>

<section class="app-word-doc__section app-word-doc__section--content">
  <div class="app-word-doc__section-body">
    <h2>Pupil forecasts</h2>

    <div class="app-word-doc__section app-word-doc__section--meta">
      <table class="app-word-doc__data-table">
        <thead>
          <tr>
            <th scope="col">Year</th>
            <th scope="col">Capacity</th>
            <th scope="col">Total pupil numbers</th>
            <th scope="col">Percentage full</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Current year</td>
            <td>270</td>
            <td>211</td>
            <td>78%</td>
          </tr>
          <tr>
            <td>Projected pupil numbers on roll (year 1)</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Projected pupil numbers on roll (year 2)</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Projected pupil numbers on roll (year 3)</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <h3>Additional information</h3>
    <p>This is my addiotnal info but all my numbers are blank.</p>
  </div>
</section>

<section class="app-word-doc__section app-word-doc__section--content">
  <div class="app-word-doc__section-body">
    <h2>Conversion details</h2>

    <div class="app-word-doc__section app-word-doc__section--meta">
      <table class="app-word-doc__meta-table">
        <tbody>
          <tr><th scope="row">Academy type and route</th><td>Converter</td></tr>
          <tr><th scope="row">Recommendation</th><td>Approve</td></tr>
          <tr><th scope="row">Recommendation notes</th><td>because i said</td></tr>
          <tr><th scope="row">Proposed decision date</th><td>21 December 2027</td></tr>
          <tr><th scope="row">Proposed academy opening date</th><td>1 October 2025</td></tr>
          <tr><th scope="row">Previously considered date</th><td>21 March 2025</td></tr>
          <tr><th scope="row">Local authority</th><td></td></tr>
          <tr><th scope="row">Sponsor name</th><td></td></tr>
          <tr><th scope="row">Sponsor reference number</th><td></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="app-word-doc__section app-word-doc__section--content">
  <div class="app-word-doc__section-body">
    <h2>Legal requirements</h2>

    <div class="app-word-doc__section app-word-doc__section--meta">
      <table class="app-word-doc__meta-table">
        <tbody>
          <tr><th scope="row">Management committee resolution</th><td></td></tr>
          <tr><th scope="row">Consultation</th><td></td></tr>
          <tr><th scope="row">Diocesan consent</th><td></td></tr>
          <tr><th scope="row">Foundation consent</th><td></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="app-word-doc__section app-word-doc__section--content">
  <div class="app-word-doc__section-body">
    <h2>Public Sector Equality Duty</h2>

    <div class="app-word-doc__section app-word-doc__section--meta">
      <table class="app-word-doc__meta-table">
        <tbody>
          <tr><th scope="row">Public Sector Equality Duty consideration</th><td>The decision is unlikely to disproportionately affect any particular person or group who share protected characteristics</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="app-word-doc__section app-word-doc__section--content">
  <div class="app-word-doc__section-body">
    <h2>Rationale</h2>

    <div class="app-word-doc__section app-word-doc__section--meta">
      <table class="app-word-doc__meta-table">
        <tbody>
          <tr><th scope="row">Rationale for the project</th><td><p><strong>Greenhill Primary School</strong> is a community primary school located in Bury, accepting children between the ages of 4 and 11. The school has 205 pupils on roll, a school capacity of 210 (98% full), and has no recorded SEN or resourced provisions. In terms of the school's pupil population for 2023/24, 3.3% of pupils have a Special Education Needs (SEN) Education, Health and Care Plan (EHCP), slightly above the national figure of 3.0%.</p></td></tr>
          <tr><th scope="row">Rationale for the trust or sponsor</th><td>N/A</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="app-word-doc__section app-word-doc__section--content">
  <div class="app-word-doc__section-body">
    <h2>Risks and issues</h2>
    <p>N/A</p>
  </div>
</section>

<section class="app-word-doc__section app-word-doc__section--content">
  <div class="app-word-doc__section-body">
    <h2>Supporting documents</h2>
  </div>
</section>
