{% extends "20252026-q3-sprint-1/layouts/main-prepare.html" %}

{% set pageName="Home" %}

{% block header %}{% endblock %}

{% block footer %}{% endblock %}

{% block content %}

<div class="app-word-doc-preview-only">
    
    <div class="app-word-doc-preview__frame" id="word-doc-frame">
        <div class="app-word-doc-preview__page">
            <div id="word-doc-content" class="app-word-doc-preview__content" tabindex="-1">
                {% include "202605-b/includes/mat-sponsor-template-content.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
