{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      CI prototypes hub
    </h1>

    <p class="govuk-body-l">This is the hub for CI prototypes.</p>

    <a href="/manage-prototype/clear-data" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Clear session data
    </a>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-l" id="ci-2025-2026-q3-sprint-1">
    2025-2026 Q3 sprint 1
    </h2>
    <p>Prototype for rebranding:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="20252026-q3-sprint-1/rebranded-prepare" class="govuk-link">Prepare conversions and transfers</a></li>
        <li><a class="govuk-link" href="20252026-q3-sprint-1/rebranded-mfsp" class="govuk-link">Manage free school projects</a></li>
        <li><a class="govuk-link" href="20252026-q3-sprint-1/rebranded-recast" class="govuk-link">Record concerns and support for trusts</a></li>
        <li><a class="govuk-link" href="20252026-q3-sprint-1/rebranded-complete" class="govuk-link">Complete conversions, transfers and changes</a></li>
    </ul>

  </div>
</div>

{% endblock %}
