{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      CI prototypes hub
    </h1>

    <p class="govuk-body-l">This is the hub for CI prototypes.</p>

    <a href="/manage-prototype/clear-data" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Clear session data
    </a>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-l" id="ci-2026-04-v01">
      August 2026
    </h2>

    <p>Prototype for Sig change</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="202608/first-page.html" class="govuk-link">Test</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="ci-2026-04-v01">
      May 2026
    </h2>
    <p>Prototype for Prepare's Rationale section text editor:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="202605-a/first-page.html" class="govuk-link">Without toolbar</a></li>
    </ul>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="202605-b/first-page.html" class="govuk-link">With toolbar</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-l" id="ci-2026-04-v01">
      April 2026 v01
    </h2>
    <p>Replacing Prepare's Word project document:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="202604-v01/prepare-project-1-before.html" class="govuk-link">Prepare project 1</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-l" id="ci-2026-03-v01">
      March 2026 v01
    </h2>
    <p>Prototype for the Complete on hold functionality:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="202603-v01/complete-project-listing-in-progress.html" class="govuk-link">Complete projects listing page</a></li>
      <li><a class="govuk-link" href="202603-v01/complete-project-1-before.html" class="govuk-link">Complete project 1</a></li>
      <li><a class="govuk-link" href="202603-v01/complete-project-2-before.html" class="govuk-link">Complete project 2</a></li>
      <li><a class="govuk-link" href="202603-v01/complete-project-3-before.html" class="govuk-link">Complete project 3</a></li>
      <li><a class="govuk-link" href="202603-v01/complete-project-4-before.html" class="govuk-link">Complete project 4</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-l" id="ci-2026-01-v01">
      January 2026 v01
    </h2>
    <p>Prototype for the Recast expand search design:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="202601-v01/recast-project" class="govuk-link">About the case</a></li>
      <li><a class="govuk-link" href="202601-v01/recast-project-listing-all-cases" class="govuk-link">The new case listing view: all cases</a></li>
    </ul>

    <p>Prototype for the RAG rationale commentary and team leader design:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="202601-v01/recast-create-risk-to-trust.html" class="govuk-link">Risk to trust</a></li>
      <li><a class="govuk-link" href="202601-v01/recast-create-concern-details.html" class="govuk-link">Concern details (next page)</a></li>
      <li><a class="govuk-link" href="202601-v01/recast-create-team-leader-add.html" class="govuk-link">Add team leader (create a case journey)</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="ci-2025-2026-q3-sprint-3">
    2025-2026 Q3 sprint 3
    </h2>
    <p>Prototype for rebranding:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="20252026-q3-sprint-3/rebranded-complete" class="govuk-link">Complete conversions, transfers and changes</a></li>
        <li><a class="govuk-link" href="20252026-q3-sprint-3/rebranded-fast" class="govuk-link">Find information about schools and trusts - homepage</a></li>
        <li><a class="govuk-link" href="20252026-q3-sprint-3/rebranded-fast-school" class="govuk-link">Find information about schools and trusts - school page</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-l" id="ci-2025-2026-q3-sprint-1">
    2025-2026 Q3 sprint 1
    </h2>
    <p>Prototype for rebranding:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="20252026-q3-sprint-1/rebranded-prepare" class="govuk-link">Prepare conversions and transfers</a></li>
        <li><a class="govuk-link" href="20252026-q3-sprint-1/rebranded-mfsp" class="govuk-link">Manage free school projects</a></li>
        <li><a class="govuk-link" href="20252026-q3-sprint-1/rebranded-recast" class="govuk-link">Record concerns and support for trusts</a></li>
        <li><a class="govuk-link" href="20252026-q3-sprint-1/rebranded-complete" class="govuk-link">Complete conversions, transfers and changes</a></li>
        <li><a class="govuk-link" href="20252026-q3-sprint-1/rebranded-complete-alternative" class="govuk-link">Complete conversions, transfers and changes</a> - alternative design. This version shows how we may move the search box away from the header and make it a separate search journey.</li>
        <li><a class="govuk-link" href="20252026-q3-sprint-1/rebranded-fast" class="govuk-link">Find information about schools and trusts</a></li>
    </ul>

  </div>
</div>

{% endblock %}
