{% extends "layouts/main.html" %}

{% set pageName="Answer Confirmation" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {% if cmlAnswer == "陳銘倫" %}
      <!-- Correct answer -->
      <div class="govuk-panel govuk-panel--confirmation" style="background-color: #00703c;">
        <h1 class="govuk-panel__title">
          Congratulations! Finally you got it right!
        </h1>
      </div>
    {% else %}
      <!-- Wrong answer -->
      <div class="govuk-panel govuk-panel--confirmation" style="background-color: #d4351c;">
        <h1 class="govuk-panel__title">
          Sorry you're wrong again.
        </h1>
      </div>
    {% endif %}

    <div class="govuk-!-margin-top-6">
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">
        {% if cmlAnswer == "陳銘倫" %}
          You have successfully identified CML correctly. Well done! Wish you a happy long weekend 梁曦彤!
        {% else %}
          Don't worry, you can try again.
        {% endif %}
      </p>
      
      <p class="govuk-body">
        <a href="/temp" class="govuk-link">Try the question again</a>
      </p>
    </div>

  </div>
</div>

{% endblock %}
