{% extends "layouts/main.html" %}

{% set pageName="CML Question" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      CML is ...
    </h1>
    
    <form method="post" action="/temp-answers">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-fieldset__heading">
              Please select your answer:
            </h2>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cml-1" name="cml-answer" type="radio" value="陳銘朗">
              <label class="govuk-label govuk-radios__label" for="cml-1">
                陳銘朗
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cml-2" name="cml-answer" type="radio" value="陳銘倫">
              <label class="govuk-label govuk-radios__label" for="cml-2">
                陳銘倫
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cml-3" name="cml-answer" type="radio" value="陳銘龍">
              <label class="govuk-label govuk-radios__label" for="cml-3">
                陳銘龍
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cml-4" name="cml-answer" type="radio" value="陳銘霖">
              <label class="govuk-label govuk-radios__label" for="cml-4">
                陳銘霖
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      
      <button class="govuk-button" data-module="govuk-button">
        Submit answer
      </button>
    </form>
  </div>
</div>

{% endblock %}
